/* prod */
body {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #232528;
    width: 90%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 30px;
    /* font-weight: bold; */
    text-decoration: none;
    padding-bottom: 10px;
}

h2 {
    font-size: 25px;
    /* font-weight: normal; */
    text-decoration: none;
    margin-top: 80px;
}


/* header & navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a, #name {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #232528;
}

nav a:visited {
    color: #232528;
}

nav .subtitle {
    color: gray;
    margin-top: 0px;
}


/* section */
section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-width: 800px;
}

.gallery-col-full {
    float: left;
    width: 96%; /* two cols of images */
    padding: 5px;
}
/* .gallery-col-threeFourth {
    float: left;
    width: 72%;
    padding: 5px;
} */

.gallery-col-half-left {
    float: left;
    width: 46%; /* two cols of images */
    padding: 5px;
}

.gallery-col-half-right {
    float: right;
    width: 46%; /* two cols of images */
    padding: 5px;
}
/* 
.gallery-col-third {
    float: left;
    width: 32%;
    padding: 5px;
}

.gallery-col-fourth {
    float: left;
    width: 24%;
    padding: 5px;
} */

.gallery-row::after {
    content: "";
    clear: both;
    display: table;
}

section img, .img-text, video {
    width: 100%;
    display: block;
}

section .img-text {
    font-size: 14px;
    margin-top: 0px;
}

section .text-content {
    display: block;
    width: 96%;
    margin-top: 30px;
}

section .text-content {
    margin-top: 0px;
}

section .text-content a{
    text-decoration: none;
    color:teal;
}
section .text-content a:hover{
    color: #FF6347;
}
/* table */
.syllabus, .syllabus-intro {
    width: 100%;
    margin: auto;
    background: #edeeef;
    font-family: "Courier";
    font-size: 14px;
    padding: 50px;
    padding-top: 25px;
}

th {
    border-bottom: .5px solid gray;
}

.firstcol {
    border-right: .5px solid gray;
}

td, th {
    padding: 10px;
}

.syllabus td {
    vertical-align: top;
}

.syllabus-intro {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#test2{
    padding-left: 50px;
}

.authors {
    color: darkgrey;
    margin-top: 0px;
}

h1 {
    margin-bottom: 0px;
    font-size: 180%;
}

.summary {
    font-size: 180%;
}

/* end-notes */
.end-notes ul {
    list-style-type: none;
}

.excerpt {
    padding-left: 10%;
    padding-right: 10%;
}